[flake8]
exclude = 
    .eggs,
    .git,
    .hg,
    .mypy_cache,
    .tox,
    .venv,
    .devcontainer,
    venv,
    _build,
    buck-out,
    build,
    dist,
    **/__init__.py,
    htmlcov,
    .pytest_cache,
    .coverage
max-line-length = 120
ignore = E203,W503,E704,S104,S101,SIM910,SIM117,D100,D101,D102,D103,D400,D401,I100,I201,Q000,E501
